<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TapeDelayApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>TapeDelayAppExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TapeDelayFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6C60273C1B374F31003D6BEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C60274E1B374F49003D6BEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C9245611B360DF6006D7DE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CC1CE3E1B2F922E00D95621</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CC1CE5D1B2F93D100D95621</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CC1CE661B2F93D100D95621</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CC9A9081B7CA98B003BAA75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CC9A91B1B7CA98B003BAA75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CC9A9261B7CA98B003BAA75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
